<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container-home">
        <h1 class="display-3">To-do App</h1>
        <p>A secure way to store your chores.</p>
        <hr>
        <a href="/register" role="button" class="btn btn-light btn-lg">Register</a>
        <a href="/login" role="button" class="btn btn-dark btn-lg">Login</a>

    </div>
</div>


<%- include('partials/footer') %>